div #a{
	padding:40px;
}
#mis{
	padding-top:100px;
	padding-left:80;
	padding-right:80;
	padding-bottom:80;
}
#mis2{
	padding-left:200px;
}
#b{
	padding:50px;
}

#c{
	margin:0px;
}

#d{
	padding-bottom:100px;
}

#e{
	padding-top:50px;
}
#f{
	padding-right:30px;
	padding-bottom:30px;
}
#g{
	padding-right:30px;
}
#h{
	padding-left:160px;
}
#i{
	padding-left:60px;
	padding-bottom:100px;
}
#j{
	padding-top:30px;
	padding-right:30px;
	padding-left:55px;
}
#k{
	padding-right:30px;
	padding-left:30px;
}
#l{
	padding-top:80px;
}
#m{
	padding-top:120px;
	padding-bottom:30px;
}
#n{
	padding-left:20px;
}
#o{
	padding-left:15%;
	padding-botton:10px;
}
#p{
	padding-top:150px;
}
#q{
	padding-right:15%;
}
#r{
	padding-top:130px;
	padding-left:15%;
	padding-right:15%;
	padding-bottom:100px;
}
#s {
	padding-botton:10px;
}
#img1{
	padding-left:30px;
  	padding-right:30px;
  	padding-top:60px;
  	padding-bottom:100px;
}
#img2{
	padding-top:0px;
    padding-right:30px;
    margin:0px;
}